<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
      <welcome-file>Home</welcome-file>
      <!--<welcome-file>index.html</welcome-file>-->
    </welcome-file-list>
    <listener>
      <listener-class>com.decmurphy.spx.InitialiseEnvironment</listener-class>
    </listener>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.decmurphy.spx.servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterfaceServlet</servlet-name>
        <servlet-class>com.decmurphy.spx.servlet.InterfaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadingPage</servlet-name>
        <servlet-class>com.decmurphy.spx.servlet.LoadingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteLaunch</servlet-name>
        <servlet-class>com.decmurphy.spx.servlet.ExecuteLaunch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayResults</servlet-name>
        <servlet-class>com.decmurphy.spx.servlet.DisplayResults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InterfaceServlet</servlet-name>
        <url-pattern>/InterfaceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteLaunch</servlet-name>
        <url-pattern>/ExecuteLaunch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadingPage</servlet-name>
        <url-pattern>/LoadingPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayResults</servlet-name>
        <url-pattern>/DisplayResults</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
