/* 
    Created on : 13-Dec-2014, 15:42:06
    Author     : declan
*/
.launch_button {

}
.bg {
  z-index: -2;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  width: auto;
}

video#bgvid { 
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover; 
}

#container {
  min-height: 100%;
  margin-bottom: -4em;
}

#footer {
  color: lightskyblue;
  clear: both;
  position: relative;
  text-align: right;
  padding-right: 10px;
  z-index: 10;
  height: 4em;
}

table.results {
  width: 100%;
}

table.results td {
  width: 33%;
  padding: 0;
}

table.results img {
  max-width: 100%;
}

.table_left {
  float: left;
  min-width: 40%;
  border-right: thick solid #000000;
}

.table_right {
  padding: 10px;
  float: left;
  position: absolute;
  left: 50%;
}

.table_top {
  padding: 10px;
  border-bottom: thick solid #000000;
}

.table-bottom {
  position: absolute;
  left: 50px;
  padding: 10px;
}