/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Dec-2014, 15:42:06
    Author     : declan
*/
.launch_button {
  margin-left: 60px;
}
.bg {
  z-index: -2;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  width: auto;
}

video#bgvid { 
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover; 
}

#container {
  min-height: 100%;
  margin-bottom: -4em;
}

#footer {
 color: lightskyblue;
 clear: both;
 position: relative;
 text-align: right;
 padding-right: 10px;
 z-index: 10;
 height: 4em;
}

img.first,
img.fourth {
  top: 0;
  left: 0;
  width: 33%
}

img.second,
img.fifth {
  top: 0%;
  right: 0;
  width: 33%;
}

img.third,
img.sixth {
  top: 0;
  right: 0;
  width: 33%;
}